{% define footer %}
<p class="footer">
  &copy; <span id="y"></span> Ben Eggers.
  <a
    href="https://github.com/beggers/beneggers.com"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub"
  >
    <svg
      aria-hidden="true"
      focusable="false"
      width="18"
      height="18"
      viewBox="0 0 24 24"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      style="vertical-align: text-bottom"
    >
      <path
        d="M12 .5C5.73.5.77 5.46.77 11.73c0 4.93 3.19 9.1 7.62 10.58.56.1.77-.24.77-.54v-1.9c-3.1.67-3.76-1.32-3.76-1.32-.51-1.3-1.25-1.65-1.25-1.65-1.02-.7.08-.69.08-.69 1.12.08 1.7 1.15 1.7 1.15 1 .85 2.25.61 2.8.47.1-.73.4-1.22.72-1.5-2.49-.28-5.1-1.24-5.1-5.53 0-1.22.43-2.21 1.14-2.98-.12-.28-.5-1.41.11-2.93 0 0 .95-.3 3.09 1.15 1.02-.28 2.11-.42 3.2-.42s2.18.14 3.2.42c2.14-1.45 3.09-1.15 3.09-1.15.61 1.52.23 2.65.11 2.93.71.77 1.14 1.76 1.14 2.98 0 4.3-2.61 5.25-5.11 5.52.41.35.77 1.03.77 2.09v3.09c0 .31.21.66.78.54A12.03 12.03 0 0 0 23.23 11.7 11.96 11.96 0 0 0 12 .5Z"
      />
    </svg>
    <span class="sr-only">GitHub</span>
  </a>
  <a
    href="https://x.com/beggers_"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Twitter / X"
  >
    <svg
      aria-hidden="true"
      focusable="false"
      width="18"
      height="18"
      viewBox="0 0 24 24"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      style="vertical-align: text-bottom"
    >
      <path
        d="M18.244 2.25h3.285l-7.163 8.19 8.41 11.31h-6.592l-5.162-6.72-5.904 6.72H2.834l7.66-8.72L2.5 2.25h6.75l4.66 6.16 4.334-6.16Z"
      />
    </svg>
    <span class="sr-only">Twitter</span>
  </a>
</p>
<script>
  (function () {
    var el = document.getElementById("y");
    if (el) {
      el.textContent = new Date().getFullYear();
    }
  })();
</script>
{% end footer %}
