<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head %}
  </head>
  <body>
    <main>
      <header>
        <h1 class="name">Ben Eggers</h1>
        <p class="tag">Software engineer</p>
        <p class="bio">
          I like to build things. I also like to play my trumpet, hike (PCT
          '22), meditate, lift weights, travel, and do anything with my friends.
          I currently work on infrastructure at
          <a href="https://www.openai.com">OpenAI</a>.
        </p>
        <p>
          You can email me at (first name) at (this domain) or yell at me on
          <a href="https://x.com/beggers_">Twitter</a>.
        </p>
      </header>

      <section id="talks">
        <h2>Talks</h2>
        <ul>
          <li>
            <div class="item-title">
              <a href="https://www.youtube.com/watch?v=1v4r0aEE6Zs"
                >You should test in production</a
              >
            </div>
            <div class="item-note">BugBash 2025</div>
          </li>
        </ul>
      </section>
      <footer>{% include footer %}</footer>
    </main>
  </body>
</html>
